@*@model Club*@
@model IEnumerable<Club>


<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/test.css" />
    <title>AddClub</title>
</head>
<body>
    <header class="masthead">
        <section class="min-vh-100">
            <div class="background">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@TempData["message"]</div>
                }
                <h1 class="text-white"><a class="justify-content-center btn btn-primary" asp-action="AddClubViews">Add New Club</a></h1>
                <div class="row">
                    <div class="text-center text-white col-lg-5 background">
                        <h1 class="text-center text-white">Club Details </h1>
                    </div>
                    <div class="col-lg-5 text-center text-white">
                        <h1 class="text-center text-white">Player Details </h1>
                    </div>
                </div>
                @foreach (Club c in Model)
                {
                    <div class="row " style="background-color: rgba(0,0,0,0.3); margin: 2rem">
                        @*<h1 class="text-center text-white">Club Details </h1>*@
                        <div class="text-center text-white col-lg-4 background">
                            <h4>Club Name</h4>
                            <p>@c.ClubName</p>
                            <h4>Email Address</h4>
                            <p>@c.ClubEmail</p>
                            <h4>Phone Number</h4>
                            <p>@c.ClubPhoneNumber</p>
                            <form asp-action="DeleteClub" method="post">
                                <a asp-action="UpdateViews" class="text-white btn btn-primary btn-warning"
                                   asp-route-clubId="@c.ClubID" asp-controller="Admin">
                                    Update
                                </a>
                                <input type="hidden" name="ClubID" value="@c.ClubID" />
                                <button type="submit" class="text-white btn-primary btn btn-danger btn-primary">
                                    Delete
                                </button>
                                <a class="justify-content-center btn btn-primary" asp-action="PlayerManagement" asp-route-clubID="@c.ClubID">Add Player</a>
                            </form>
                        </div>
                        <div class="col-lg-7 text-center text-white">
                            @Html.Partial("PlayerList", c.Players)
                        </div>

                    </div>
                }
            </div>
        </section>
    </header>
</body>
</html>
